body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-content: stretch;
	justify-content: stretch;
}

body > * {
	flex-grow: 1;
}

.cursor-transparent {
	pointer-events: none;
}

.cursor-transparent > :not(.cursor-transparent) {
	pointer-events: initial;
}

.flex {
	display: flex;
}

.flex.reverse {
	flex-direction: row-reverse;
}

.flex.space {
	justify-content: space-between;
}

.flex.top {
	align-items: start;
}

.flex.middle {
	align-items: center;
}

.flex.bottom {
	align-items: end;
	align-content: end;
}

.flex.vertical {
	flex-direction: column;
}

.flex.vertical.reverse {
	flex-direction: column-reverse;
}

.grow {
	flex-grow: 1;
}

.no-shrink {
	flex-shrink: 0;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex.wrap-reverse {
	flex-wrap: wrap-reverse;
}

.fullwidth {
	width: 100%;
}

.gap {
	gap: 1.5em;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

label {
	display: inline-block;
	position: relative;
}

input, select {
	box-sizing: border-box;
}

.inline-label {
	position: absolute;
	top: 0;
	left: 0.5em;
	font-size: small;
	background-color: white;
}

.inline-label + input, .inline-label + select {
	padding-top: 0.5em;
	margin-top: 0.75em;
}

.scroll {
	overflow: auto;
}

button.destructive {
	background-color: #ae1414;
	color: white;
}