:root {
	color: var(--foreground-color);
	background: var(--page-background);
}

.panel {
	background: var(--panel-background);
}

.switcher {
	gap: 0.25em;
	padding: 0.25em;
	touch-action: none;
}

.switcher-button {
	padding: 0.125em 0.25em;
	border-radius: 0.5em;
}

.switcher-button:not(:disabled):not(.active):hover {
	background-color: var(--button-background);
}

.switcher-button.active {
	background-color: var(--button-hover-background);
}

.switcher-button:disabled {
	filter: saturate(0.4) contrast(0.4);
}

.drawer {
	background: var(--drawer-background);
	border: var(--drawer-border);
	touch-action: none;
	overflow: scroll;
}

.button {
	border-radius: .25em;
	padding: .25em .75em;
	background: var(--button-background);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
}

.button.large {
	border-radius: 2em;
	padding: 0.5em 1em;
	font-size: large;
}

.button:hover {
	background: var(--button-hover-background);
}

.button.destructive {
	color: var(--button-destructive-foreground);
	background: var(--button-destructive-background);
}

.button.destructive:hover {
	background: var(--button-destructive-hover-background);
}

.button.suggested {
	color: var(--button-suggested-foreground);
	background: var(--button-suggested-background);
}

.button.suggested:hover {
	background: var(--button-suggested-hover-background);
}

input[type="text"], input[type="number"] {
	cursor: text;
}

input[type="range"] {
	margin: 0.25em;
	width: 10em;
	height: 1.5em;
}

input[type="range"].flipped {
	direction: rtl;
}

input[type="range"].vertical {
	writing-mode: vertical-lr;
	width: 1.5em;
	height: 10em;
}

input[type="range"].vertical.flipped {
	writing-mode: vertical-rl;
}

input[type="checkbox"], input[type="radio"] {
	appearance: auto;
}

label.search,
label.text,
label.number {
	display: flex;
	background-color: var(--text-input-background);
	border: var(--text-input-border);
	padding: 0.5em;
	border-radius: 0.5em;
	line-height: 1.5em;
	white-space: nowrap;
	gap: 0.5em;
}

label.search > input,
label.text > input,
label.number > input {
	flex-grow: 1;
}

label.search > :not(input),
label.text > :not(input),
label.number > :not(input) {
	color: var(--color-low-contrast);
}

label.number {
	padding-right: 0;
}

label.search > input:focus,
label.text > input:focus,
label.number > input:focus,
label.radio > input:focus {
	outline: none;
}

label.search:focus-within,
label.text:focus-within,
label.number:focus-within,
label.radio:focus-within {
	outline: var(--focus-outline);
}

label.radio.button {
	border-radius: 1em;
	padding: 1em;
	font-weight: bold;
}

label.radio.selected {
	color: var(--radio-input-active-foreground);
	background: var(--radio-input-active-background);
}

.high-contrast {
	color: var(--color-high-contrast);
	text-shadow:
		1px 1px 0 var(--color-high-contrast-outline),
		-1px 1px 0 var(--color-high-contrast-outline),
		-1px -1px 0 var(--color-high-contrast-outline),
		1px -1px 0 var(--color-high-contrast-outline),
		0px 1px 0 var(--color-high-contrast-outline),
		0px -1px 0 var(--color-high-contrast-outline),
		-1px 0px 0 var(--color-high-contrast-outline),
		1px 0px 0 var(--color-high-contrast-outline);
}

.empty-placeholder {
	display: block;
	font-style: italic;
	opacity: 0.4;
	font-size: large;
	font-weight: bold;
	padding: 0.5em 0;
}

ul.item-list {
	text-align: center;
}

ul.item-list > li {
	padding: 1em;
	background: var(--item-background);
	border: var(--item-border);
	border-top: none;
	box-shadow: var(--item-shadow);
}

ul.item-list > li:first-child {
	border-top: var(--item-border);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

ul.item-list > li:last-child {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
